// Colors
$primary-color: rgb(21, 1, 77);
$accent-color: rgb(117, 101, 161);
$hover-color: rgb(175, 162, 210);
$correct-color: brown;
$overlay-bg: rgba(0, 0, 0, 0.5);
$background-light: rgba(215, 215, 215, 0.7);

// Font
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-large: 2.5vw;
$font-size-medium: 3vh;

// Spacing
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 5rem;

// Borders
$border-radius-soft: 1rem;
$border-radius-strong: 4rem;

// Image Paths
$background-img: "../images/background.jpg";